@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');

body{
    background-color: darkorange !important;
}

.title-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.navbar-brand{
    font-size: xxx-large;

}

nav.navbar {
    background-color: darkorange !important;
}

img.heroimage{
    width: 100%;
    height: 80%;
}

.aboutus{
    background-color: darkorange !important;
    color: black;
    
}

.aboutus div.container, .menu, .gallery, .contactpage {
    background-color: darkorange !important;
    color: black;
    
}

.gallery img {
    height: 550px;
    width:100%;
    
}

.menubutton {
    background-color: darkorange !important;
    color: black;
}

footer{
    height: 150px;
}
  
  .social-networks{
    text-align: center;
}
  
  .social-networks li{
    display: inline;
}
  
  .social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:black;
}
