@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');

*{
    margin:0px;
    padding:0px;
    border:0px;
}

body {
    font-family: 'Castoro', serif;
    color: #fff;
    background-color: #979796;
}

h2{
	font-family: 'Castoro';
	text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #fc8804cb;
	color:#085e33;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 120%;
    list-style-type: none;
	letter-spacing: 2px;
}